<!DOCTYPE html>
<html lang="en">
   <body>
      <form action = "http://localhost:5000/pollutants/{{ name }}" method = "post">
         <p>Hello {{ name }}, please enter pollutant concentrations:</p>
         <p>Ozone (ppb):</p>
         <p><input type = "number" name = "oz" /></p>
         <p>PM 2.5 Concentration (ppm):</p>
         <p><input type = "number" name = "pm25" /></p>
         <p>PM10 Concentration (ppm):</p>
         <p><input type = "number" name = "pm10" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>