<!doctype html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
   <body>
      <p>Thank you {{ username }}, here are the air pollutant concentrations:</p>
      <table style="width:50%">
         <tr>
            <th> Pollutant </th>
            <th> Concentration </th>
            <th> AQI </th>
         </tr>
            <th> Ozone </th>
            <td> {{ ozone }} ppb </td>
            <td> AQI Calc </td>
         <tr>
            <th> PM 2.5 </th>
            <td> {{ pm25 }} ppm </td>
            <td> AQI Calc </td>
         </tr>
         <tr>
            <th> PM 10 </th>
            <td> {{ pm10 }} ppm </td>
            <td> AQI Calc </td>
         </tr>
      </table>
   </body>
</html>