<!doctype html>
<html>
   <body>
      <p>Thank you {{ username }}, here are the air pollutant concentrations:</p>
      <table border = 1>
         <tr>
            <th><p> Ozone <p></th>
            <td> {{ ozone }} ppb </td>
         </tr>
         <tr>
            <th><p> PM 2.5 <p></th>
            <td> {{ pm25 }} ppm </td>
         </tr>
         <tr>
            <th><p> PM 10 <p></th>
            <td> {{ pm10 }} ppm </td>
         </tr>
      </table>
   </body>
</html>